* {
    margin: 0 auto;
    padding: 0;

}
body {
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

h1 {
    color: #ffa34d;
    text-align: center;
    width: 100%;
    font-size: 60px;
    margin: 80px;
    
    
}
.joke_generator_button {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    font-size: 36px;
    font-weight: bold;
    background-color: #ffa34d;
    border: none;
   
   }
